[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/layerzero"]
	path = lib/layerzero
	url = https://github.com/LayerZero-Labs/LayerZero-v2.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/polymarket-ctf-exchange"]
	path = lib/polymarket-ctf-exchange
	url = https://github.com/Polymarket/ctf-exchange
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
